<h1><%= @user.username %>'s Page</h1>

<%= image_tag(@user.picture) %><br/>

<%= link_to "My Stories", user_stories_path(@user) %><br/>
<%= link_to "Create a New Story", new_user_story_path(@user) %><br/>
<%= link_to "All Stories, From Everyone, not JUST you...selfish bastard", all_stories_path %><br/>
