<h1>Create a new Madlib</h1>

<%= form_for [@user, @story] do |f| %>
  <%= f.label :name_1, "Your name" %><br/>
  <%= f.text_field :name_1 %><br/>
  <%= f.label :name_2, "any name:" %><br/>
  <%= f.text_field :name_2 %><br/>
  <%= f.label :name_3, "any name:" %><br/>
  <%= f.text_field :name_3 %><br/>
  <%= f.label :adv_1, "adverb:" %><br/>
  <%= f.text_field :adv_1 %><br/>
  <%= f.label :award, "an award:" %><br/>
  <%= f.text_field :award %><br/>
  <%= f.label :verb_1, "verb + ing:"%><br/>
  <%= f.text_field :verb_1 %><br/>
  <%= f.label :verb_2, "verb (past tense):" %><br/>
  <%= f.text_field :verb_2 %><br/>
  <%= f.label :verb_3, "verb (past tense):" %><br/>
  <%= f.text_field :verb_3 %><br/>
  <%= f.label :verb_4, "verb (present tense):" %><br/>
  <%= f.text_field :verb_4 %><br/>
  <%= f.label :verb_5, "verb + ing:" %><br/>
  <%= f.text_field :verb_5 %><br/>
  <%= f.label :verb_6, "verb (present tense):" %><br/>
  <%= f.text_field :verb_6 %><br/>
  <%= f.label :fam, "family member relationship (ex: father, aunt):" %><br/>
  <%= f.text_field :fam %><br/>
  <%= f.label :number, "a number (0-1000):" %><br/>
  <%= f.text_field :number %><br/>
  <%= f.label :adj_1, "state of being (alive/dead/something else):" %><br/>
  <%= f.text_field :adj_1 %><br/>
  <%= f.label :adj_2, "adjective:" %><br/>
  <%= f.text_field :adj_2 %><br/>
  <%= f.label :adj_3, "adjective:" %><br/>
  <%= f.text_field :adj_3 %><br/>
  <%= f.label :adj_4, "adjective:" %><br/>
  <%= f.text_field :adj_4 %><br/>
  <%= f.label :adj_6, "adjective:" %><br/>
  <%= f.text_field :adj_6 %><br/>
  <%= f.label :adj_5, "adjective + er:" %><br/>
  <%= f.text_field :adj_5 %><br/>
  <%= f.label :mil_rank, "military rank:" %><br/>
  <%= f.text_field :mil_rank %><br/>
  <%= f.label :noun_1, "noun:" %><br/>
  <%= f.text_field :noun_1 %><br/>
  <%= f.label :noun_3, "noun:" %><br/>
  <%= f.text_field :noun_3 %><br/>
  <%= f.label :noun_2, "plural noun:" %><br/>
  <%= f.text_field :noun_2 %><br/>
  <%= f.label :emotion, "a feeling/an emotion (ex: sad, angry):" %><br/>
  <%= f.text_field :emotion %><br/>
  <%= f.label :name_4, "your own name again, but make it sound pretentious/pompous:" %><br/>
  <%= f.text_field :name_4 %><br/>
  <%= f.submit %>
<% end %>
