<!DOCTYPE html>
<html>
<head>
  <title>AuthenticationAuthorizationExample</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
  <style>
    h3 {
      color: black;
    }
    h1 {
      color: black;
    }
    p {
      color: black;
    }
  </style>
</head>

<body>
  <div class ="container">
    <% if current_user %>
      <p> Logged in as <%= current_user.username %>
      <%= link_to "User Page", user_path(current_user)%>
      <%= button_to "Logout", logout_path, method: :delete %></p>
    <% end %>
    <% flash.each do |type, message| %>
    <%= content_tag :div, message, class: "flash_#{type}" %>
    <% end %>
  </div>
  <div class ="container">
    <div class="page-header">
      <h3><small></small></h3>
    </div>
    <%= yield %>
  </div>
</body>
</html>
