<!DOCTYPE html>
<html>
<head>
  <title>AuthenticationAuthorizationExample</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if current_user %>
    <p> Logged in as <%= current_user.username %></p>
    <%= link_to "My Home Page", user_path(current_user)%><br/>
    <%= link_to "Logout", logout_path, method: :delete %>
  <% end %>
  <% flash.each do |type, message| %>
  <%= content_tag :div, message, class: "flash_#{type}" %>
  <% end %>
  <%= yield %>
</body>
</html>
